<html>
  <head>
      <title>Meeting Tracker</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
     <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700'>
         <link rel="stylesheet" type="text/css" href="/stylesheets/piechart.css">
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
      <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
      <script src="https://kit.fontawesome.com/532e54d05a.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>


  <body class="backgroundColor">
      
           <!------------------------NAV BAR--------------------------------------------------------->

       <nav class="navbar navbar-expand-lg navbar-light no-margin" id="navNewId">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active">
              
                <p class="item" id="visionetID">VISIONET</p>
                
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <div class="item p-2 bd-highlight" id="userID">
              <p class="item align-self-center" style="margin: auto;"></p><%=currentUser.username%></p>
              </div>
              <a href="/logout" class="item p-2 bd-highlight" id="logoutID"><i class="fas fa-power-off fa-2x "></i></a>
          </div>
        </nav>


         <!------------------------NAV BAR END--------------------------------------------------------->

    <!------------------------SIDE BAR--------------------------------------------------------->

      <div class="container" id="indexContainerId">
        <div class="row">
          <div class="col-md-2" id="sideBarId">
      <div id="wrapper">
         <!-- Sidebar -->
         <div id="sidebar-wrapper">
            <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
                <li>
                    <a href="/dashboard" class="item p-2 bd-highlight">
                      <span class="fa-stack fa-lg pull-left"><i class="fa fa-users fa-stack-1x "></i></span> Dashboard</a>
                 </li>
              <li class="active">
                  <a href="/home" class="item p-2 bd-highlight">
                    <span class="fa-stack fa-lg pull-left"><i class="fa fa-home fa-stack-1x "></i></span> Home</a>
               </li>
               <li>
                  <a href="/blogs" class="item p-2 bd-highlight">
                    <span class="fa-stack fa-lg pull-left"><i class="fa fa-users fa-stack-1x "></i></span> Meetings</a>
               </li>
               <li>
                  <a href="/tasks" class="item p-2 bd-highlight">
                    <span class="fa-stack fa-lg pull-left"><i class="fas fa-tasks fa-stack-1x"></i></span> Tasks</a>
               </li>
               <li>
                <a href="#"> <span class="fa-stack fa-lg pull-left"><i class="fa fa-thumbtack fa-stack-1x "></i></span>Day Plan</a>
             </li>
             <li>
                <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-project-diagram fa-stack-1x "></i></span>Projects</a>
             </li>
               <!-- <i class="far fa-sticky-note"></i> -->
               <li>
                <a href="/selfnotes"> <span class="fa-stack fa-lg pull-left"><i class="fa fa-sticky-note fa-stack-1x "></i></span>Self Notes</a>
             </li>
               <li>
                  <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-user-check fa-stack-1x "></i></span>Users</a>
               </li>
            </ul>
         </div>
         </div>
          </div>
   
  
     <!------------------------SIDE BAR END--------------------------------------------------------->
       <div class="col-md-10">  

          
<!-- ------------------------------------------PIE CHART----------------------------------- -->

<div class="row">
              <div class="col-md-3" style="margin-top: 5%;">

                <div class="pieID--operations pie-chart--wrapper">
                  <h2>Tasks Status</h2>
                  <div class="pie-chart">
                    
                    <div class="pie-chart__pie"></div>
                    <ul class="pie-chart__legend">
                      <li><em>Today</em><span><%= tasks.length %></span></li>
                      <% console.log("tasks.length"); %>
                      <% console.log(tasks.length); %>
                      <li><em>Open</em><span>1</span></li>
                      <% var closedCount=0; %>
                    <% for(let i=tasks.length-1;i>=0;i--){ %>
                    <% var task=tasks[i]; %>
                      <% if(task.status=="Closed"){ %>
                      <!-- <%  console.log(task.description); %>
                      <%  console.log(task.status); %>
                      <%  console.log(closedCount); %> -->
                      <%  closedCount++;}} %>
                      <!-- <%  console.log("closedCount"); %>
                      <%  console.log(closedCount); %> -->
                      <li><em>Completed</em><span><%=closedCount%></span></li>
                      <li><em>Overdue</em><span>1</span></li>
                    </ul>
                  </div>
                </div>

                </div>

                    <div class="col-md-3" style="margin-top:5%">
                        <div class="pieID--categories pie-chart--wrapper">
                            <h2>Criticality</h2>
                            <div class="pie-chart">
                              <div class="pie-chart__pie"></div>
                              <ul class="pie-chart__legend">
                                <li><em>Critial</em><span>768</span></li>
                                <li><em>High</em><span>232</span></li>
                                <li><em>Medium</em><span>232</span></li>
                                <li><em>Low</em><span>232</span></li>
                              </ul>
                            </div>
                          </div>
                           </div>
                           <div class="col-md-3" style="margin-top:5%">
                            <div class="pieID--micro-skills pie-chart--wrapper">
                                <h2>Progress</h2>
                                <div class="pie-chart">
                                  <div class="pie-chart__pie"></div>
                                  <ul class="pie-chart__legend">
                                    <li><em>Completed</em><span>642</span></li>
                                    <li><em>To do</em><span>358</span></li>
                                  </ul>
                                </div>
                              </div>
                         </div>
                         <div class="col-md-3">
                     
                        </div>



              
       </div>

       
        </div>

          


  
      </div>
    </div>

<!-------------------------------------------- TASK ARCHIVE END------------------------------------------->
      
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src='https://codepen.io/MaciejCaputa/pen/EmMooZ.js'></script>
<script  src="/views/piechart.js"></script>

<script>
  function sliceSize(dataNum, dataTotal) {
    return (dataNum / dataTotal) * 360;
  }
  
  function addSlice(id, sliceSize, pieElement, offset, sliceID, color) {
    $(pieElement).append("<div class='slice "+ sliceID + "'><span></span></div>");
    var offset = offset - 1;
    var sizeRotation = -179 + sliceSize;
  
    $(id + " ." + sliceID).css({
      "transform": "rotate(" + offset + "deg) translate3d(0,0,0)"
    });
  
    $(id + " ." + sliceID + " span").css({
      "transform"       : "rotate(" + sizeRotation + "deg) translate3d(0,0,0)",
      "background-color": color
    });
  }
  
  function iterateSlices(id, sliceSize, pieElement, offset, dataCount, sliceCount, color) {
    var
      maxSize = 179,
      sliceID = "s" + dataCount + "-" + sliceCount;
  
    if( sliceSize <= maxSize ) {
      addSlice(id, sliceSize, pieElement, offset, sliceID, color);
    } else {
      addSlice(id, maxSize, pieElement, offset, sliceID, color);
      iterateSlices(id, sliceSize-maxSize, pieElement, offset+maxSize, dataCount, sliceCount+1, color);
    }
  }
  
  function createPie(id) {
    var
      listData      = [],
      listTotal     = 0,
      offset        = 0,
      i             = 0,
      pieElement    = id + " .pie-chart__pie"
      dataElement   = id + " .pie-chart__legend"
  
      color         = [
        "cornflowerblue",
        "olivedrab",
        "orange",
        "tomato",
        "crimson",
        "purple",
        "turquoise",
        "forestgreen",
        "navy"
      ];
  
    color = shuffle( color );
  
    $(dataElement+" span").each(function() {
      listData.push(Number($(this).html()));
    });
  
    for(i = 0; i < listData.length; i++) {
      listTotal += listData[i];
    }
  
    for(i=0; i < listData.length; i++) {
      var size = sliceSize(listData[i], listTotal);
      iterateSlices(id, size, pieElement, offset, i, 0, color[i]);
      $(dataElement + " li:nth-child(" + (i + 1) + ")").css("border-color", color[i]);
      offset += size;
    }
  }
  
  function shuffle(a) {
      var j, x, i;
      for (i = a.length; i; i--) {
          j = Math.floor(Math.random() * i);
          x = a[i - 1];
          a[i - 1] = a[j];
          a[j] = x;
      }
  
      return a;
  }
  
  function createPieCharts() {
    createPie('.pieID--micro-skills' );
    createPie('.pieID--categories' );
    createPie('.pieID--operations' );
  }
  
  createPieCharts();
</script>
</body>
</html>




