<html>
    <head>
        <title>Meeting Tracker</title>
        <!-- <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="dist/css/propeller.min.css">
        <link rel="stylesheet" href="datetimepicker/css/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="datetimepicker/css/pmd-datetimepicker.css"> -->

<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script type="text/javascript" src="dist/js/propeller.min.js"></script>


<script type="text/javascript" language="javascript" src="datetimepicker/js/moment-with-locales.js"></script>

<script type="text/javascript" language="javascript" src="datetimepicker/js/bootstrap-datetimepicker.js"></script> -->

        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <script src="https://kit.fontawesome.com/532e54d05a.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
        <!-- <link rel="stylesheet" href="dist/css/bootstrap-multiselect.css" type="text/css"> -->
        <script type="text/javascript" src="dist/js/bootstrap-multiselect.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.0/fuse.min.js"></script>
<script src="bootstrap-select-dropdown.min.js"></script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">







    </head>
    <body>
        <div class="d-flex bd-highlight  align-items-center">
            <div class="ui fixed inverted menu" id="navbarID">
                <div class="ui container">
                    <div class="item p-2 bd-highlight">
                        <p class="item" id="visionetID">LetsTransport</p>
                    </div>
                    <div class="header item p-2 bd-highlight" id="titleID"><i class="fas fa-users fa-2x"></i> &nbsp; Meeting Tracker</div>
                    <a href="/" class="item p-2 bd-highlight">Meetings</a>
                    <a href="/blogs/new" class="item p-2 bd-highlight">New Meeting</a>
                    <a href="/tasks" class="item p-2 bd-highlight">Tasks</a>
                    <a href="/tasks/new" class="item mr-auto p-2 bd-highlight">Add Tasks</a>
                    <div class="item p-2 bd-highlight" id="userID">
                    <p class="item "></p><%=currentUser.username%></p>
                    </div>
                    <a href="/logout" class="item p-2 bd-highlight" id="logoutID"><i class="fas fa-power-off fa-lg "></i></a>
                </div>
            </div>
            </div>
<div class="ui main text container segment">
    <div class="ui huge header">New Meeting</div>
    <form class="ui form" action="/blogs" method="POST">

        <div class="field">
            <label>Agenda</label>
            <input type="text" name="blog[title]" placeholder="title">
        </div>

        <div class="field">
          <label>Location</label>
          <select class="custom-select" name="blog[location]">
              <option selected="" >Location</option>
              <option value="Conference Room A">Conference Room A</option>
              <option value="Conference Room B">Conference Room B</option>
              <option value="Conference Room C">Conference Room C</option>
              <option value="Conference Room D">Conference Room D</option>
              <option value="Conference Room E">Conference Room E</option>
              <option value="Conference Room F">Conference Room F</option>
          </select>
      </div>

   <div> 
	<div class="field"> 
        <label>Start Time:</label>
        <input type="datetime-local" name="blog[starttime]">
		</div>
	</div>
	<div class="field"> 
		<label>End Time</label>
        <input type="datetime-local" name="blog[endtime]">
	</div>

              <div class="field">
                <label>Attendees</label>
                  <select class="mul-select" name=blog[attendees] multiple="true" >
                      <option value="Alok Bansal">Alok Bansal</option>
                      <option value="Amit Khandelwal">Amit Khandelwal</option>
                      <option value="Gitanjali Singh">Gitanjali Singh</option>
                      <option value="Jimmy Cherian">Jimmy Cherian</option>
                      <option value="Kshitij Singhal">Kshitij Singhal</option>
                      <option value="Miriam Shaju">Miriam Shaju</option>
                      <option value="Narmada Lakshamanan">Narmada Lakshmanan</option>
                      <option value="Raju Varda">Raju Varada</option>
                      <option value="Sundar K">Sundar K</option>
                      <option value="Tushar Singh">Tushar Singh</option>
                      <option value="Vishwa K">Vishwa K</option>
                      </select>
                  </select>
              </div> 

              <div class="field">
                <label>Meeting Category:</label>
                  <select class="mul-select2" name=blog[meetingcategory] multiple="true" >
                      <option value="Daily Strategic Hiring">Daily Strategic Hiring</option>
                      <option value="Project Blue">Project Blue</option>
                      <option value="BFSI IT GTM/Sales Cadence">BFSI IT GTM/Sales Cadence</option>
                      <option value="MD Staff Meeting">MD Staff Meeting</option>
                      <option value="Alok's Meetings">Alok's Meetings</option>
                      <option value="Hiring Meeting">Hiring Meeting</option>
                      <option value="Innovation Lab">Innovation Lab</option>
                      <option value="KRA Meeting">KRA Meeting</option>
                      <option value="Client Profitability">Client Profitability</option>
                      <option value="Revenue and Cost Forecast">Revenue and Cost Forecast</option>
                      <option value="Transitions and Onboarding">Transitions and Onboarding</option>
                      <option value="BFS IT Sales">BFS IT Sales</option>
                      <option value="VSPL Staff">VSPL Staff</option>
                      </select>
                  </select>
              </div> 

       <div class="field">
            <label>Meeting Minutes</label>
            <textarea name="blog[body]" id="textareaID"></textarea>
        </div>

        <input class="ui violet basic button" type="submit">
    </form>
</div>



  <script>
    $(document).ready(function(){
        $(".mul-select").select2({
                placeholder: "select members", //placeholder
                tags: true,
                tokenSeparators: ['/',',',';'," "]
            });
        })

        $(document).ready(function(){
        $(".mul-select2").select2({
                placeholder: "select meeting category", //placeholder
                tags: true,
                tokenSeparators: ['/',',',';'," "]
            });
        })

        $(function () {
                $('#datetimepicker1').datetimepicker();
            });
      </script>
    

</body>
</html>




