<html>
    <head>
        <title>Meeting Tracker</title>
        <!-- <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="dist/css/propeller.min.css">
        <link rel="stylesheet" href="datetimepicker/css/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="datetimepicker/css/pmd-datetimepicker.css"> -->

<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script type="text/javascript" src="dist/js/propeller.min.js"></script>


<script type="text/javascript" language="javascript" src="datetimepicker/js/moment-with-locales.js"></script>

<script type="text/javascript" language="javascript" src="datetimepicker/js/bootstrap-datetimepicker.js"></script> -->

        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <script src="https://kit.fontawesome.com/532e54d05a.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
        <!-- <link rel="stylesheet" href="dist/css/bootstrap-multiselect.css" type="text/css"> -->
        <script type="text/javascript" src="dist/js/bootstrap-multiselect.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.0/fuse.min.js"></script>
<script src="bootstrap-select-dropdown.min.js"></script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- 
<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet"> -->
<!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> -->
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->

<!-- <link href="summernote.css" rel="stylesheet">
<script src="summernote.min.js"></script>

<script src="lang/summernote-ko-KR.js"></script> -->




    </head>
    <body class="newBody">
        <div class="d-flex bd-highlight  align-items-center">
            <div class="ui fixed inverted menu" id="navbarID">
                <div class="ui container">
                    <div class="item p-2 bd-highlight">
                        <p class="item" id="visionetID">VISIONET</p>
                    </div>
                    <div class="header item p-2 bd-highlight" id="titleID"><i class="fas fa-users fa-2x"></i> &nbsp; Meeting Tracker</div>
                    <a href="/blogs" class="item p-2 bd-highlight">Meetings</a>
                    <a href="/blogs/new" class="item p-2 bd-highlight">New Meeting</a>
                    <a href="/tasks" class="item p-2 bd-highlight">Tasks</a>
                    <a href="/tasks/new" class="item mr-auto p-2 bd-highlight">Add Tasks</a>
                    <div class="item p-2 bd-highlight" id="userID">
                    <p class="item "></p><%=currentUser.username%></p>
                    </div>
                    <a href="/logout" class="item p-2 bd-highlight" id="logoutID"><i class="fas fa-power-off fa-lg "></i></a>
                </div>
            </div>
        </div>

<!-- --------------------------------------------------PAGE CONTENT----------------------------------------------------- -->

<div class="" id="filterMeetingsID"></div>
<!-- <div class="container" id="filterMeetingsID"> -->
    <div class="row" style="height: 90%;">
        <div class="col-md-6" id="leftSide">
<!-- <div class="ui main text container segment"> -->
    <!-- <div class="leftSide"> -->
        <nav class="navbar navbar-light bg-primary text-white justify-content-between" id="navLeftId">
            <h2>New Meeting<h2>
        </nav>
      <div class="card text-white bg-white mb-3" id="cardNewId">
        <!-- <div class="card-header bg-primary">Header</div> -->
        <!-- <h2 id="cardHeaderId">New Meeting</h2> -->
        <div class="card-body bg-white">
            
    
    <form class="form-group" action="/blogs" method="POST">

        <div class="field" >
            <label style="font-size: x-large;">Agenda</label>
            <input type="text" name="blog[title]" placeholder="Title...">
        </div>

        <div class="field">
            <label style="font-size: x-large;">Location</label>
          <select class="custom-select" name="blog[location]">
              <option selected="" >Location</option>
              <option value="Conference Room A">Conference Room A</option>
              <option value="Conference Room B">Conference Room B</option>
              <option value="Conference Room C">Conference Room C</option>
              <option value="Conference Room D">Conference Room D</option>
              <option value="Conference Room E">Conference Room E</option>
              <option value="Conference Room F">Conference Room F</option>
          </select>
       </div>

       <div class="field">
       <div class="row">
        <div class="col-md-6">
	<!-- <div class="field">  -->
        <label style="font-size: x-large;">Start</label>
        <input type="datetime-local" name="blog[starttime]">
		<!-- </div> -->
       </div>
       <div class="col-md-6">
	        <!-- <div class="field">  -->
                <label style="font-size: x-large;">End</label>
        <input type="datetime-local" name="blog[endtime]">
            <!-- </div> -->
        </div>
        </div>
       </div>

            <div class="field">
                <label style="font-size: x-large;">Attendees</label>
                  <select class="mul-select" name=blog[attendees] multiple="true" >
                      <option value="Alok Bansal">Alok Bansal</option>
                      <option value="Amit Khandelwal">Amit Khandelwal</option>
                      <option value="Gitanjali Singh">Gitanjali Singh</option>
                      <option value="Jimmy Cherian">Jimmy Cherian</option>
                      <option value="Kshitij Singhal">Kshitij Singhal</option>
                      <option value="Miriam Shaju">Miriam Shaju</option>
                      <option value="Narmada Lakshamanan">Narmada Lakshmanan</option>
                      <option value="Raju Varda">Raju Varada</option>
                      <option value="Sundar K">Sundar K</option>
                      <option value="Tushar Singh">Tushar Singh</option>
                      <option value="Vishwa K">Vishwa K</option>
                      </select>
                  </select>
            </div> 

            <div class="field">
                <label style="font-size: x-large;">Meeting Category</label>
                  <select class="mul-select2" id="meetingCategoryId" name=blog[meetingcategory] multiple="true" >
                      <option value="Daily Strategic Hiring">Daily Strategic Hiring</option>
                      <option value="Project Blue">Project Blue</option>
                      <option value="BFSI IT GTM/Sales Cadence">BFSI IT GTM/Sales Cadence</option>
                      <option value="MD Staff Meeting">MD Staff Meeting</option>
                      <option value="Alok's Meetings">Alok's Meetings</option>
                      <option value="Hiring Meeting">Hiring Meeting</option>
                      <option value="Innovation Lab">Innovation Lab</option>
                      <option value="KRA Meeting">KRA Meeting</option>
                      <option value="Client Profitability">Client Profitability</option>
                      <option value="Revenue and Cost Forecast">Revenue and Cost Forecast</option>
                      <option value="Transitions and Onboarding">Transitions and Onboarding</option>
                      <option value="BFS IT Sales">BFS IT Sales</option>
                      <option value="VSPL Staff">VSPL Staff</option>
                      </select>
                  </select>
            </div> 

              <div class="field">
              <input class="ui violet basic button" type="submit">
              </div>
            </div>
        </div>
  
            </div>
           
            <div class="col-md-6"> 
                <nav class="navbar navbar-light bg-primary text-white justify-content-between" id="navHeaderId">
                    <h2>Meeting Minutes<h2>
                      <!-- <button class="btn btn-outline- my-2 my-sm-0" type="submit">Search</button> -->
                      <button type="button" class="btn btn-dark"><i class="fas fa-plus-circle"></i> Add Topic</button>
                </nav>
       <div class="rightSide">  
       <!-- <div class="field">
           <div id="header1Id">
            <label class="ui header">Meeting Minutes</label>
            <br>
            <br>
           </div> -->

            <textarea name="blog[body]" id="textareaID" value="Meeting Minutes"></textarea>
        </div>
        
    </div>
    </form>
   
    </div>
</div>
  <script>
    $(document).ready(function(){
        $(".mul-select").select2({
                placeholder: "select members", //placeholder
                tags: true,
                tokenSeparators: ['/',',',';'," "]
            });
        })

        $(document).ready(function(){
        $(".mul-select2").select2({
                placeholder: "select meeting category", //placeholder
                tags: true,
                tokenSeparators: ['/',',',';'," "]
            });
        })

        $(function () {
                $('#datetimepicker1').datetimepicker();
            });

        $('#teaxtareaID').summernote();

//             window.onscroll = function() {myFunction()};

// // Get the header
// var header = document.getElementsById("cardNewId");

// // Get the offset position of the navbar
// var sticky = header.offsetTop;

// // Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
// function myFunction() {
//   if (window.pageYOffset > sticky) {
//     header.classList.add("sticky");
//   } else {
//     header.classList.remove("sticky");
//   }
// }
      </script>
    

</body>
</html>




